<nav id="sidebar">
    <ul>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <div><img src="assets/images/rectangle.png"></div>
                <span></span>
            </a>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <div><img src="assets/images/home_menu.png"></div>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a routerLink="/collections" routerLinkActive="active">
                <div><img src="assets/images/collections.png"></div>
                <span>Collections</span>
            </a>
        </li>
        <li>
            <a routerLink="/compaign" routerLinkActive="active">
                <div><img src="assets/images/marketing_.png"></div>
                <span>Compaign</span>
            </a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active">
                <div><img src="assets/images/product.png"></div>
                <span>Products</span>
            </a>
        </li>
    </ul>
</nav>