<div class="nav navbar justify-content-end">
    <div class="dropdown">
        <a class="d-flex align-items-center nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <img src="assets/avatar.png"  alt="user avatar" width="50">
            <div class="user-info ps-3">
                <p class="user-name mb-0">Nishant Garg</p>
                <p class="designattion mb-0" style="font-size: 11px">Software Developer</p>
               
            </div>
            <div class="line"></div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item"><span>Logout</span></a></li>
           
            <li><a class="dropdown-item"><i class="bx bx-cog"></i><span>Manage Profile</span></a>
            </li>
        </ul>
    </div> 
    
</div>