<div class="navbar justify-content-end">
    <div class="btn-group">
        <a class="d-flex align-items-center">
            <img src="assets/avatar.png" class="cursor"  alt="user avatar" width="50">
            <span class="user-info">
                <span class="user-name">Abhishek</span>
                <span class="user-profile">CXO Manager</span>
               
            </span>
            <span class="line"></span> 
        </a>
        <a id="dropdownMenuButton" class="d-flex cursor align-items-center dropdown-toggle dropdown-toggle-split " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu mg-top cursor" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item d-flex">Logout <span class="material-icons ml-auto f-size b-dark">power_settings_new</span></a>
         <hr>
            <a class="dropdown-item d-flex">Manage Profile  <span class="material-icons ml-auto f-size b-dark">settings</span> </a>
         
        </div>
      </div>
</div>
