<div class="navbar justify-content-end">
    <!-- <div class="dropdown">
      <a href="" class="d-flex align-items-center nav-link">
        <img src="assets/avatar.png"  alt="user avatar" width="50">
        <div class="user-info">
            <p class="user-name">Abhishek</p>
            <p class="user-profile">CXO Manager</p>
           
        </div>
        <div class="line"></div>
      </a>
        <a  id="dropdownMenuButton" class="align-items-center nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another</a>
          </div>
    </div> -->
    <div class="btn-group">
        <a class="d-flex align-items-center">
            <img src="assets/avatar.png"  alt="user avatar" width="50">
            <div class="user-info">
                <p class="user-name">Abhishek</p>
                <p class="user-profile">CXO Manager</p>
               
            </div>
            <div class="line"></div> 
        </a>
        <a id="dropdownMenuButton" class="d-flex align-items-center dropdown-toggle dropdown-toggle-split " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </a>
        <div class="dropdown-menu mg-top" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item d-flex"><div class="w-100">Logout</div>  <img src="assets/images/administration.png"  alt="user avatar" style="width: 12px;height: 12px;margin-top: 4px;"></a>
         
          <div class="dropdown-divider"></div>
          <a class="dropdown-item d-flex"><div class="w-100">Manage Profile</div>   <img src="assets/images/logout.png"  alt="user avatar"  style="width: 12px;height: 12px;margin-top: 4px;"></a>
         
        </div>
      </div>
</div>
