<div class="card">
    <div class="card-header">
        <div class="card-header-content">
            <div class="pull-left">
                State-wise Performance
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
         </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12" style="height:200px;">

            </div>
        </div>
     <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
              <i class="fa fa-dot-circle-o fa-clr" aria-hidden="true"></i> Highest Performing State 
           </div>
           <div class="pull-right  fa-clr">
            <i class="fa fa-arrow-up" aria-hidden="true"></i> 63.33%
           </div>
          </div>
         
     </div>
     <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
              <i class="fa fa-dot-circle-o fa-clr2" aria-hidden="true"></i> Lowest Performing State
           </div>
           <div class="pull-right fa-clr2">
            <i class="fa fa-arrow-down" aria-hidden="true"></i> 38.12%
           </div>
          </div>
     </div>
    </div>
    <div class="card-footer">
        <div class="card-footer-content">
            <div class="pull-left">
               Download Report
            </div>
            <div class="pull-right">
                <img src="assets/images/downloadShape.png" width="12" alt="icon">
            </div>
         </div>
    </div>
  </div>