<div class="card">
    <div class="card-header">
        <div class="card-header-content">
            <div class="pull-left">
                Settlement Offers
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left left">
                        Customer Profile
                    </div>
                    <div class="pull-right right">
                        View Details <i class="fa fa-eye" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 justify-content-between">

                    <div class="col">
                        <div class="cardbox-top">
                            <div class="cardbox-top-content">
                                <div class="cardbox-top-content-icon">
                                    <img src="assets/images/customerp1.png" width="18" alt="icon">
                                </div>
                                113.5 Cr
                            </div>
                        </div>
                        <div class="cardbox-text">
                            Offer Raised
                        </div>
                    </div>
                    <div class="col">
                        <div class="cardbox-top">
                            <div class="cardbox-top-content">
                                <div class="cardbox-top-content-icon">
                                    <img src="assets/images/check.png" width="32" alt="icon">
                                </div>
                                113.5 Cr
                            </div>
                        </div>
                        <div class="cardbox-text">
                            Offer Honered
                        </div>
                    </div>
                    <div class="col">
                        <div class="cardbox-top">
                            <div class="cardbox-top-content">
                                <div class="cardbox-top-content-icon">
                                    <img src="assets/images/customerp3.png" width="32" alt="icon">
                                </div>
                                21.9 Cr
                            </div>
                        </div>
                        <div class="cardbox-text">
                            Offer Broke
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">   
                 <div class="pull-left left">
                    Bank Profile
                </div>
                <div class="pull-right right">
                
                </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12 justify-content-between">
                    <div class="col">
                        <div class="cardbox-top">
                          <div class="cardbox-top-content">
                            <div class="cardbox-top-content-icon">
                              <img src="assets/images/undo-button.png" width="18" alt="icon">
                          </div>
                            2.15 Lac
                          </div>
                      </div>
                      <div class="cardbox-text">
                          Offer Re-Negotiated
                      </div>
                    </div>
                    <div class="col">
                      <div class="cardbox-top">
                        <div class="cardbox-top-content">
                          <div class="cardbox-top-content-icon">
                            <img src="assets/images/awesome-user.png" width="25" alt="icon">
                        </div>
                           3.1 Lac
                        </div>
                    </div>
                    <div class="cardbox-text">
                        Offer Approved
                    </div>
                    </div>
                    <div class="col">
                      <div class="cardbox-top">
                        <div class="cardbox-top-content">
                          <div class="cardbox-top-content-icon">
                            <img src="assets/images/cross.png" width="20" alt="icon">
                        </div>
                         36K
                        </div>
                    </div>
                    <div class="cardbox-text">
                        Offer Rejected
                    </div>
                      </div>
                </div>
              
              </div>
           
        </div>
    </div>
    <div class="card-footer">
        
    </div> 
</div>