.card{
    background: #1e1e1e;
    height: 350px;
}
.card-header, .card-footer{
    background: #181818;
    color:#eaeaea;
}
.card-header-content{
    font-size: 13px;
    color:#eaeaea;
}
.card-footer{
    background: #1e1e1e;
    height: 32px;
}
.card-footer-content{
    background: #1e1e1e;
}

.card-body-content{
    font-size: 12px;
    color:#fff;
}

.col{
    background: #181818;
    border-radius: 5px;
    margin:5px;

}
.justify-content-between {

    display: flex;
}

.cardbox-top-content{
    text-align: center;
    font-size: 14px;
    color: #9c27b0;
    padding: 7px;
    margin-top: 8px;
  }
  .cardbox-top-content-icon{
    padding-bottom: 8px; 
  }
  .cardbox-text{
    text-align: center;
    background: #c77803;
    color: #fff;
    margin-right: -15px;
      margin-left: -14px;
      border-radius: 0 0 5px 5px;
      font-size: 10px;
  }
  .left{
    padding: 5px 10px;
  }
  .right{
    padding: 5px 10px;
    color:#c77803;
  }