<div class="card">
    <div class="card-header">
        <div class="card-header-content">
            <div class="pull-left">
                Settlement Offers
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
         </div>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    Customer Profile
                  </div>
                  <div class="pull-right">
                   View Details <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
            </div>
            
          </div>
      </div>
    </div>
    <!-- <div class="card-footer">
        <div class="card-footer-content">
            <div class="pull-left">
                Download Report
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
         </div>
    </div> -->
  </div>