.card{
    background: #1e1e1e;
    height: 350px;
}
.card-header, .card-footer{
    background: #181818;
    color:#eaeaea;
}
.card-header-content{
    font-size: 13px;
    color:#eaeaea;
}
.card-body{
    background: #1e1e1e;
    display: flex;
}
.card-footer-content{
    font-size: 13px;
    color:#eaeaea;
}


.col{
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    display: flex;
    background: #303030;
    height: 35vh;
    flex-direction: column-reverse;
    padding: 0;
    /* box-shadow:5px 5px 5px black; */
  }
  .newcol1{
      background: #df8f01;
      height: 10px;
    width:100%;
    border-top: 1px solid black;
    
  }
  .newcol2{
    background: #d58803;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol3{
    background: #d47536;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol4{
    background: #ce635c;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol5{
    background: #d15d72;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol6{
    background: #d15d72;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol7{
    background: #c95675;
    height: 4px;
  width:100%;
  border-top: 1px solid black;
  
}
.newcol8{
    background: #c95675;
    height: 10px;
  width:100%;
  border-top: 1px solid black;
  
}
.text-col{
font-size: 10px;
color: #fff;
background: #1e1e1e;
padding-top: 5px;

}
.col-text{
    font-size: 10px;
    color: #fff;
    margin-bottom: 5px;
}
