<div class="card">
    <div class="card-header">
        <div class="card-header-content">
            <div class="pull-left">
                Resolution Rate by TOS Buckets
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
         </div>
    </div>
    <div class="card-body">
        <div class="col">
            <div class="text-col"><25K</div>
            <div class="newcol1"></div>
            <div class="newcol2"></div>
            <div class="newcol3"></div>
            <div class="newcol4"></div>
            <div class="newcol5"></div>
            <div class="col-text">48%</div>
          </div>
          <div class="col">
            <div  class="text-col">25-50K</div>
            <div class="newcol1"></div>
            <div class="newcol2"></div>
            <div class="newcol3"></div>
            <div class="newcol4"></div>
            <div class="newcol5"></div>
            <div class="newcol6"></div>
            <div class="newcol7"></div>
            <div class="col-text">62%</div>
          </div>
          <div class="col">
            <div  class="text-col">50-75K</div>
            <div class="newcol2"></div>
            <div class="newcol3"></div>
            <div class="newcol4"></div>
            <div class="col-text">30%</div>
          </div>
          
          <div class="col">
            <div class="text-col" >75-100K</div>
            <div class="newcol1"></div>
            <div class="newcol2"></div>
            <div class="newcol3"></div>
            <div class="newcol4"></div>
            <div class="newcol5"></div>
            <div class="newcol6"></div>
            <div class="col-text">60%</div>
          </div>
          <div class="col">
            <div class="text-col" >>100K</div>
            <div class="newcol2"></div>
            <div class="newcol3"></div>
            <div class="col-text" >20%</div>
          </div>
    
       
    </div>
    <div class="card-footer">
        <div class="card-footer-content">
            <div class="pull-left">
                Download Report
            </div>
            <div class="pull-right">
                <img src="assets/images/downloadShape.png" width="12" alt="icon">
            </div>
         </div>
    </div>
  </div>