<!-- <div class="row">
    <div class="col-md-12">
        <div class="heading">Portfolio Overview</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="float-start d-flex align-items-center ">
            <div class="profile">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <div class="hline"></div>
            <div class="rupee">
                <i class="fa fa-inr" aria-hidden="true"></i>
            </div>
            <div class="vline"></div>
            <div class="amount">
                By Amount
            </div>

        </div>
        <div class="float-end">
            <select class="select-option">
                <option>Bucket 1</option>
                <option>Bucket 2</option>
                <option>Bucket 3</option>
                <option>Bucket 4</option>
                <option>Bucket 5</option>
                <option>Bucket 6</option>
                <option>Bucket 7</option>
            </select>
            <select class="select-option">
                <option>January' 21</option>
                <option>Febuary' 21</option>
                <option>March' 21</option>
                <option>April' 21</option>
                <option>May' 21</option>
                <option>June' 21</option>
                <option>July' 21</option>
            </select>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 justify-content-between">
        <div class="col">
            <div class="cardbox-top">
                <div class="cardbox-top-content">
                    <div class="cardbox-top-content-icon">
                        <img src="assets/images/totalAccounts.png" width="50" alt="">
                    </div>
                    Total Accounts
                    <div class="pull-right">
                        <img src="assets/images/info-d.png" width="12" alt="">
                    </div>
                </div>
            </div>
            <div class="cardbox-text">
                4,178.60 Cr
                <div class="pull-right text-style">
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="cardbox-top">
                <div class="cardbox-top-content">
                    <div class="cardbox-top-content-icon">
                        <img src="assets/images/totalEngagement.png" width="50" alt="">
                    </div>
                    Total Engagement
                    <div class="pull-right">
                        <img src="assets/images/info-d.png" width="12" alt="">
                    </div>
                </div>
            </div>
            <div class="cardbox-text">
                3,070.47 Cr
                <div class="pull-right text-style">
                    (73.48%)
                </div>
            </div>
        </div>
        <div class="col">
            <div class="cardbox-top">
                <div class="cardbox-top-content">
                    <div class="cardbox-top-content-icon">
                        <img src="assets/images/totalRegistered.png" width="50" alt="">
                    </div>
                    Total Registered
                    <div class="pull-right">
                        <img src="assets/images/info-d.png" width="12" alt="">
                    </div>
                </div>
            </div>
            <div class="cardbox-text">
                1,551.80 Cr
                <div class="pull-right text-style">
                    (50.54%)
                </div>
            </div>
          </div>
          <div class="col">
            <div class="cardbox-top">
                <div class="cardbox-top-content">
                    <div class="cardbox-top-content-icon">
                        <img src="assets/images/digitallyPaid.png" width="50" alt="">
                    </div>
                   Digitally Paid
                    <div class="pull-right">
                        <img src="assets/images/info-d.png" width="12" alt="">
                    </div>
                </div>
            </div>
            <div class="cardbox-text">
                297.92 Cr
                <div class="pull-right text-style">
                    (19.20%)
                </div>
            </div>
          </div>
          <div class="col">
            <div class="cardbox-top">
                <div class="cardbox-top-content">
                    <div class="cardbox-top-content-icon">
                        <img src="assets/images/digitallyPaid.png" width="50" alt="">
                    </div>
                    Overall Resolved
                    <div class="pull-right">
                        <img src="assets/images/info-d.png" width="12" alt="">
                    </div>
                </div>
            </div>
            <div class="cardbox-text">
                1,591.31 Cr
                <div class="pull-right text-style">
                    (38.08%)
                </div>
            </div>
          </div>

    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <app-portfolio-overview></app-portfolio-overview>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="dashboard-container">
            <div class="dashboard-container-block1">
                <app-resolution-rate></app-resolution-rate>
            </div>
            <div class="dashboard-container-block2">
                <app-settlement-offer></app-settlement-offer>
            </div>
            <div class="dashboard-container-block3">
                <app-statewise-performance></app-statewise-performance>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="dashboard-container">
            <div class="dashboard-container-block4">
                <app-portfolio></app-portfolio>
            </div>
            <div class="dashboard-container-block5">
                <app-resolution-trends></app-resolution-trends>
            </div>
        </div>
    </div>
</div>