<div class="card">
    <div class="card-header">
        <div class="card-header-content">
            <div class="pull-left">
                Resolution Trend
            </div>
            <div class="pull-right">
                <img src="assets/images/info-d.png" width="12" alt="icon">
            </div>
         </div>
    </div>
    <div class="card-body">
        
        
    
       
    </div>
    <div class="card-footer">
        <div class="card-footer-content">
            <div class="pull-left">
                View Full Analytics
            </div>
            <div class="pull-right">
                <img src="assets/images/downloadShape.png" width="12" alt="icon">
            </div>
         </div>
    </div>
  </div>